<%= render layout: "ric_admin/layouts/with_right_side" do %>
	<section class="tabs pill">
		<ul class="tab-nav">
			<li class="active"><a href="#"><%= t("headers.ric_advert.admin_banners.valid_banners") %></a></li>
			<li><a href="#"><%= t("headers.ric_advert.admin_banners.invalid_banners") %></a></li>
		</ul>
		<div class="tab-content active">
			<%= rug_index_table_for(@valid_banners, { 
				name: :string,
				kind: :enum,
			}, paths: {
				show: "ric_advert_admin.banner_path",
				edit: "ric_advert_admin.edit_banner_path",
				destroy: "ric_advert_admin.banner_path"
			}, summary: true ) %>
		</div>
		<div class="tab-content">
			<h3><%= t("headers.ric_advert.admin_banners.sofar_invalid_banners") %></h3>
			<%= rug_index_table_for(@sofar_invalid_banners, { 
				name: :string,
				kind: :enum,
			}, paths: {
				show: "ric_advert_admin.banner_path",
				edit: "ric_advert_admin.edit_banner_path",
				destroy: "ric_advert_admin.banner_path"
			}, summary: true ) %>
			<h3><%= t("headers.ric_advert.admin_banners.already_invalid_banners") %></h3>
			<%= rug_index_table_for(@already_invalid_banners, { 
				name: :string,
				kind: :enum,
			}, paths: {
				show: "ric_advert_admin.banner_path",
				edit: "ric_advert_admin.edit_banner_path",
				destroy: "ric_advert_admin.banner_path"
			}, summary: true ) %>
		</div>
	</section>
<% end %>