<%= render partial: 'shared/maps' %>
<%= render layout: 'ric_admin/layouts/with_right_side' do %>
    <%= form_for @customer, url: admin_customer_path do |f| %>
        <%= render partial: 'customers/registrations/form', locals: {f: f, resource: @customer, password_change: true} %>
        <div class="element">
          <%= f.label :bonus %>
          <% if @customer.errors[:bonus].size > 0 %>
              <span class="danger label"><%= @customer.errors[:bonus][0] %></span>
          <% end %>
          <div class="field">
            <%= f.text_field :bonus, class: 'text input' %>
          </div>
        </div>
        <div class="element">
            <div class="medium primary btn">
              <%= f.submit 'Aktualizovat' %>
            </div>
        </div>
    <% end %>
<% end %>