<h3><%= t("headers.ric_assortment.admin_products.tags") %></h3>
<%= rug_index_table_for(@product.tags.order(position: :asc), { 
	name: :string,
}, paths: {
	show: "main_app.admin_tag_path",
}, model_class: "Tag") %>
<h3><%= t("headers.ric_assortment.admin_products.categories") %></h3>
<%= rug_index_table_for(@product.product_categories, { 
	name: :string,
}, paths: {
	show: :product_category_path,
	destroy: lambda { |product_category| product_category_relation_path(id: @product.id, product_category_id: product_category.id) }
}) %>
<h3><%= t("headers.ric_assortment.admin_products.tickers") %></h3>
<%= rug_index_table_for(@product.product_tickers, { 
	name: :string,
	key: :enum
}, paths: {
	show: :product_ticker_path,
	destroy: lambda { |product_ticker| unbind_product_product_ticker_path(id: product_ticker.id, product_id: @product.id) }
}) %>