<h2>Přihlásit se</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="element">
      <%= f.label :email %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, class: 'text input' %>
      </div>
    </div>

  <div class="element">
    <%= f.label :password %>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class: 'text input' %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="element">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: 'checkbox-label' %>
    </div>
  <% end -%>

    <div class="actions element">
      <div class="medium primary btn pull_left">
        <%= f.submit 'Přihlásit' %>
      </div>
      <div class="medium secondary btn pull_right">
        <%= link_to 'Zpět', :back %>
      </div>
    </div>
<% end %>

<br style="float: none; clear: both;"/>

<%= render "customers/shared/links" %>
