<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= render_component @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'gumby-touch' => '/assets/gumby/js/libs' %>
  <%= csrf_meta_tags %>
  <%= render partial: 'shared/maps' %>
  <%= render partial: "shared/marketing/google_analytics" if Rails.env.production? %>
  <%= render partial: "shared/marketing/monkeytracker" if Rails.env.production? %>
  <%= render partial: "shared/marketing/smartsapp" if Rails.env.production? %>
  <%= render partial: "shared/theming/snowfall" if setting_get("theme") == "christmas" %>
</head>
<body class="pretty">
<%= render partial: "shared/social/facebook_jssdk" %>

<%# render partial: "layouts/ribbon" %>

<div id="sb-site" class="body-background" style="background-image: url('<%= background_url %>');">

  <div class="page row <%= @is_homepage ? "misty" : "" %>">
    <%= render partial: "shared/flash" %>
    <div class="content">
      <%= yield %>
    </div>
    <div class="banner vertical-banner"></div>
  </div>

  <%= render partial: "layouts/footer" %>

</div>

<%#= render partial: "layouts/side_left" %>
<%#= render partial: "layouts/side_right" %>
</body>
</html>
